/* Main CSS Start From Here */


:root{
    --primary: #4294E3;
    --secondary: #8F12FD;
    --gradient: linear-gradient(to bottom right, var(--primary), var(--secondary));
    --color-1: #262b47;
    --color-2: #9492a2;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Jost', sans-serif;
}

a{
    text-decoration: none;
}

.text_gradient{
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Header Start */

    

/* Header End */